<%= form_with(model: property, class: 'new_property_form') do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, size: "155", value: property.title, onclick: "document.getElementById('property_title').value = '';" %>
  </div>

  <div>
  	<%= form.label :type, "Type" %>
    <%= form.collection_select :type_id, Type.all, :id, :name, { prompt: "Select type" } %>
  </div>
  
  <div>
    <%= form.label :building, "Building type" %>
    <div class='building_type'>
      <%= form.collection_radio_buttons :building_id, Building.all, :id, :name %>
    </div>
  </div>
  
  <div>
    <%= form.label :area_description, 'Area' %>
    <%= form.text_field :area_description, value: property.area_description, onclick: "document.getElementById('property_area_description').value = '';" %>
    <%= form.hidden_field :area_id %>
  </div>

  <div>
    <%= form.label :price, "Price in Euros" %>
    <%= form.text_field :price, value: property.price, onclick: "document.getElementById('property_price').value = '';" %>
  </div>
    
  <div>
    <%= form.label :bathrooms, "Bathrooms" %>
    <%= form.text_field :bathrooms, value: property.bathrooms, onclick: "document.getElementById('property_bathrooms').value = '';" %>
  </div>
    
  <div>
    <%= form.label :image, "Upload images" %>
    <% property.images.each do |image| %>
      <%= link_to image_tag(image, style: 'width: 150px; height: 150px;'), image %>
    <% end %>
    <%= form.file_field :images, multiple: true, name: "property[images][]" %>
  </div>

  <div>
    <%= form.label :description, "Extra description" %>
    <%= form.text_area :description, size: "60x12", value: property.description,  onclick: "document.getElementById('property_description').value = '';" %>
  </div>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>
