<div id="<%= dom_id property %>">
  <p>
    <strong>Title:</strong>
    <%= property.title %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= property.area_description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

</div>
